<% provide(:title, "O udruzi") %>

<h1>O udruzi</h1>

<div class="center">

<h4>ALMAE MATRIS ALUMNI</h4>
<p>Udruga inženjera i diplomiranih inženjera Elektrotehničkog fakulteta Osijek (AMA-ETF) osnovana je formalno na Osnivačkoj skupštini 8. svibnja 2009. godine.</p>

</div>

<p>Osnovna svrha Udruge</p> 

<ul>
	<li>očuvanje tradicije Elektrotehničkog fakulteta Osijek</li>
	<li>promicanje ugleda, skrb za razvitak i napredak fakulteta</li>
	<li>njegovanje i razvitak etike inženjerskog poziva</li>
	<li>utjecaj na stvaranje javnog znanstvenog i stručnog mišljenja i stajališta o svim bitnim pitanjima razvoja elektrotehnike i računarstva kao struke i znanosti</li>
	<li>utjecaj na razvitak i napredak spoznaje o potrebi očuvanja prirode i čovjekova okoliša</li>
	<li>izgradnja i jačanje veza i suradnje između bivših studenata i fakulteta</li>
	<li>poticanje i uspostava veza i suradnje Elektrotehničkog fakulteta Osijek i sličnih obrazovnih, razvojnih i istraživačkih institucija u Republici Hrvatskoj i svijetu</li>
	<li>promicanje ugleda inženjerske struke</li>
	<li>uspostava i razvijanje suradnje sa sličnim udrugama kod nas i u svijetu</li>
</ul>

