<% provide(:title, "Statut") %>


<h1>Statut udruge</h1>

<p>Na temelju članka 13. Zakona o udrugama („Narodne novine“ broj 74/14), skupština Udruge inženjera i diplomiranih inženjera Elektrotehničkog fakulteta Osijek održana 07. rujna 2015. godine u Osijeku donijela je</p>

<div class="center"> 

<h4>STATUT</h4>

<h4>UDRUGE INŽENJERA I DIPLOMIRANIH INŽENJERA</h4>
ELEKTROTEHNIČKOG FAKULTETA OSIJEK


 
<p>1.    Osnovne odredbe</p>
 
<p><b>Članak 1.</b></p>
<p>Ovim statutom uređuju se odredbe o nazivu, sjedištu i području djelovanja Udruge inženjera i diplomiranih inženjera Elektrotehničkog fakulteta Osijek Sveučilište J.J. Strossmayera u Osijeku (dalje u tekstu: Udruga), o zastupanju, izgledu pečata udruge, o ciljevima i području djelovanja sukladno ciljevima, poslovima i djelatnostima, o načinu osiguranja javnosti djelovanja udruge, o uvjetima i načinu učlanjivanja i prestanku članstva, pravima, obvezama i odgovornostima te stegovnoj odgovornosti članova i načinu vođenja popisa članova, tijelima udruge, njihovu sastavu i načinu sazivanja sjednica, izboru, opozivu, ovlastima, načinu odlučivanja i trajanju mandata te načinu sazivanja skupštine u slučaju isteka mandata, izboru i opozivu likvidatora udruge, međusobnim pravima i obvezama udruge, prestanku postojanja udruge; o imovini, načinu stjecanja i raspolaganju imovinom, o postupku s imovinom u slučaju prestanka postojanja udruge, te o načinu rješavanja sporova i sukoba interesa unutar udruge te drugim pitanjima od značaja za udrugu.</p>  


</div>