<% provide(:title, "Kontakt") %>

<div class="container-fluid note">
	<section class="contact-note">
  		<h2 id="contact-thanks" class="text-center"> Hvala na poslanoj poruci!</h2>
  		<p id="thanks" class="text-center">Javit ćemo Vam se u najkraćem mogućem roku.</p>
	</section>
</div>
 