<h2>Brisanje objave</h2>

<%= form_for(:post, :url => {:action => 'destroy', :id => @post.id}) do |f| %>

<h5 id="delete">Jeste li sigurni da želite ukloniti <%= @post.title %>?</h5>

<%= submit_tag ('Ukloni objavu!'), :class => 'btn btn-primary' %>

<%end%>