@import 'bootstrap/variables';

.admin-body {
	
	padding-top: 0px;

.navbar-fixed-side {
  @media (max-width: $grid-float-breakpoint) {
    margin-left: -15px;
    margin-right: -15px;
  }

  @media (min-width: $grid-float-breakpoint) {
    $navbar-default-link-hover-bg: darken($navbar-default-bg, 3%);

    position: fixed;
    margin: 0 -15px;
    height: 100vh;
    width: inherit;
    overflow: auto;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0;

    .container, .container-fluid {
      width: auto;
      padding-left: 0;
      padding-right: 0;
    }

    .navbar-header {
      float: none;
    }

    .navbar-brand {
      height: auto;
    }

    > .container, > .container-fluid {
      .navbar-brand {
        margin-left: 0;
      }
    }

    .navbar-collapse {
      width: 100%;
      border-top: 1px solid $navbar-default-border;
    }

    .navbar-nav {
      float: none;
      margin: 0 (-$navbar-padding-horizontal);

      > li {
        float: none;
        > a {
          padding-top:    10px;
          padding-bottom: 10px;
          border-bottom: 1px solid $navbar-default-border;
        }
      }
    }

    .navbar-nav {
        > li {
          > a {
            line-height: $line-height-computed;
            color: $navbar-default-link-color;

            &:hover, &:focus {
              background-image: none;
            }
          }
        }

        > .active > a {
          background-color: $navbar-default-link-active-bg;
          color: $navbar-default-link-active-color;
        }

      > li > a,
      .dropdown-menu > li > a {
        &:hover, &:focus {
          background-color: $navbar-default-link-hover-bg;
          color: $navbar-default-link-hover-color;
        }
      }
    }
  }
}

#logout {
	margin-top: 10%;
}
}

